/* FONTS */
@font-face {
  font-family: 'Work Sans';
  src: url('../font/WorkSans-Bold.woff2') format('woff2'),
      url('../font/WorkSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../font/WorkSans-ExtraBold.woff2') format('woff2'),
      url('../font/WorkSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../font/WorkSans-Medium.woff2') format('woff2'),
      url('../font/WorkSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../font/WorkSans-Regular.woff2') format('woff2'),
      url('../font/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../font/WorkSans-SemiBold.woff2') format('woff2'),
      url('../font/WorkSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Black.woff2') format('woff2'),
      url('../font/Lato-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Bold.woff2') format('woff2'),
      url('../font/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Regular.woff2') format('woff2'),
      url('../font/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

