// COLORS
$color-primary: #03101A;
$color-secondary: rgba(3, 16, 26, 0.7);
$color-brand: #1F98F0;

// FONTS
$font-stack: 'Lato', 'Arial', sans-serif;
$font-secondary: 'Work Sans', 'Arial', sans-serif;

